{% extends 'authenticated_user_base.html' %}
{% load crispy_forms_filters %}
{% load to_priority_tag %}

{% block content %}
    <div class="m-2">
        <div class="card-body">
            <h5 class="card-title">
                {{ object.name }} <span class="badge bg-secondary small">{{ object.get_state_display }}</span>
                <a href="{% url 'delete-task' object.id %}">
                    <button type="button" class="btn btn-sm btn-danger float-end">Delete</button>
                </a>
                <a href="{% url 'update-task' object.id %}">
                    <button type="button" class="btn btn-sm btn-outline-info float-end">Edit</button>
                </a>
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Priority: <span class="badge {{ task.priority|to_priority_tag}} small">{{ task.get_priority_display }}</span></li>
                <li class="list-group-item">Description: {{ object.description }}</li>
                <li class="list-group-item">Created: {{ object.created|date:'Y-m-d H:i' }}</li>
                <li class="list-group-item">Updated: {{ object.updated|date:'Y-m-d H:i' }}</li>
                <li class="list-group-item">Members:
                    <ul>
                        {% for member in object.members.all %}
                            <li>{{ member }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <hr/>
        <div class="container mt-4">
            {% for comment in comments %}
                <div class="row">
                    <p class="fw-bold h5 m-0">
                        {{ comment.title }}
                    </p>
                    <small class="fst-italic small text-secondary">
                        {{ comment.creator }} - ({{ comment.created|date:'Y-m-d H:i' }})
                    </small>
                    <p>
                        {{ comment.description }}
                    </p>
                </div>
            {% empty %}
                <p>No comments till now!</p>
            {% endfor %}
        </div>
        <div class="container mt-4">
            <form action="{% url 'comment-task' object.id %}" method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="btn btn-primary mt-2">Comment</button>
            </form>
        </div>
    </div>
{% endblock %}