{% extends 'layout-sidenav-light.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="m-2">
        <div class="card-body">
            <h5 class="card-title">
                {{ object.name }} <span class="badge bg-secondary small">{{ object.get_state_display }}</span>
                <a href="{% url 'update-task' object.id %}">
                    <button type="button" class="btn btn-sm btn-outline-info float-end">Edit</button>
                </a>
            </h5>
            <p class="card-text">{{ object.description }}</p>
            {% for member in object.members.all %}
                <button class="btn btn-primary">{{ member.get_full_name }}</button>
            {% endfor %}
            <a href="/tasks/delete/{{ object.id }}">
                <button class="btn btn-danger" type="submit">Delete</button>
            </a>
        </div>
        <hr/>
        <div class="container mt-4">
            {% for comment in comments %}
                <div class="row">
                    <p class="fw-bold h5 m-0">
                        {{ comment.title }}
                    </p>
                    <small class="fst-italic small text-secondary">
                        {{ comment.creator.get_full_name }}
                    </small>
                    <p>
                        {{ comment.description }}
                    </p>
                </div>
            {% empty %}
                <p>No comments till now!</p>
            {% endfor %}
        </div>
        <div class="container mt-4">
            <form action="{% url 'comment-task' object.id %}" method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="btn btn-primary mt-2">Comment</button>
            </form>
        </div>
    </div>
{% endblock %}