{% extends 'authenticated_user_base.html' %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="card col-4 m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ object.name }}
                    </h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Boards:
                            {% for board in object.board_set.all %}
                                <a href="{% url 'update-board' board.id %}">
                                    <button class="btn  btn-outline-primary">{{ board.name }}</button>
                                </a>
                            {% endfor %}
                        </li>
                        <li class="list-group-item">Members:
                            <ul>
                            {% for member in object.members.all %}
                                <li>{{ member }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        {% empty %}
            <p>No Workspace has created yet.</p>
        {% endfor %}
    </div>
{% endblock %}