{% extends 'base_templates/authenticated_user_base.html' %}
{% load crispy_forms_filters %}
{% load in_state %}
{% load to_priority_tag %}

{% block content %}
    <div class="m-2">
        <div class="card-body">
            <h5 class="card-title">
                {{ object.name }} <span class="badge bg-secondary small">{{ object.get_state_display }}</span>
                <a href="{% url 'delete-board' object.id %}">
                    <button type="button" class="btn btn-sm btn-danger float-end">Delete</button>
                </a>
                <a href="{% url 'update-board' object.id %}">
                    <button type="button" class="btn btn-sm btn-outline-info float-end">Edit</button>
                </a>
            </h5>
            <p class="card-text">{{ object.description }}</p>
            <ul>
                {% for member in object.members.all %}
                    <li>{{ member }}</li>
                {% endfor %}
            </ul>
            <div class="container">
                <div class="row">
                    {% for task_state in task_states %}
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-header">
                                {{ task_state.name }}
                            </div>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                {% for task in object.task_set|in_state:task_state %}
                                    <li class="list-group-item">
                                        <span class="badge {{ task.priority|to_priority_tag}} small">{{ task.get_priority_display }}</span> {{ task }}
                                        <a href="{% url 'task-detail' task.id %}">
                                            <button type="button" class="btn btn-sm btn-outline-primary float-end">View</button>
                                        </a>
                                        <p></p>
                                        {% if task.state != 4 %}
                                        <form action="{% url 'change-task-state' task.id %}" method="POST">
                                            {% csrf_token %}
                                            <input name="state" id="state" value="next" hidden="true"/>
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <button class="btn btn-sm btn-outline-secondary float-end" type="submit">></button>
                                        </form>
                                        {% endif %}
                                        {% if task.state != 1 %}
                                        <form action="{% url 'change-task-state' task.id %}" method="POST">
                                            {% csrf_token %}
                                            <input name="state" id="state" value="previous" hidden="true"/>
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <button class="btn btn-sm btn-outline-secondary float-end" type="submit"><</button>
                                        </form>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
              </div>
        </div>
    </div>
{% endblock %}